html {
    background-color: #121314;
    color: white;
}

.outlet {
    margin-top: 12%;
}

.drop-down-menu-button {
    position: relative;
    border-color: transparent;
    padding: 10% 2%;
    background-color: transparent;
    color: white;
}

.drop-down-menu-button:hover > .drop-down-menu {
    display: flex;
    color: black;
}

.drop-down-menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    min-width: 100px;
    flex-direction: column;
    background-color: lightgray;
    border: 2px solid white;
    border-radius: 5px;
}

.drop-down-menu > :is(button, a) {
    all: unset;
    width: calc(100% - 2%);
    cursor: pointer;
    padding: 5% 1%;
    text-align: center;
    border-radius: 5px;
}

.drop-down-menu > :is(button:hover, a:hover) {
    background-color: lightslategray;
    color: white;
}

.tweeter-button {
    all: unset;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 5px;
    padding: 2% 3%;
    transition: all 0.5s;
}

@media (max-width: 576px) {
    .outlet {
        margin-top: 23%;
    }   
}

@media (max-width: 450px) {
    .outlet {
        margin-top: 30%;
    }   
}

@media (max-width: 300px) {
    .outlet {
        margin-top: 35%;
    }   
}