.search-result-container {
    display: flex;
    justify-content: center;
}

.search-result {
    display: flex;
    width: 60vw;
    justify-content: center;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 15px;
}
